<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
</head>
<body>
    <div>
        <header>
            <div class="contenedorPadre">
            <div class="logoprincipal">
                <img src="/images/logo-mercado-liebre.svg" alt="" class="contenedorHijo">
            </div>
                <div class="contenedorHijo">
                    <form action=""><input type="search" placeholder="Buscar productos, marcas" class="navigationBar"></form>
                    <div>
                        <button class="lupa">🔍</button>
                    </div>
                </div>
                
                <div class="headertitulo">
                    <p class="centerText"><img src="/images/hand-holding-dollar-solid_1.svg" alt="" class="logos" >Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>

    <h1>Iniciar Sesión</h1>
    <form action="index.html" method="POST">
        <label for="nombre_usuario">Nombre de usuario:</label>
        <input type="text" id="nombre_usuario" name="nombre_usuario" required><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required><br>

        <input type="submit" value="Iniciar Sesión">
    </form>
    
<!-- Agregar un enlace a index.html -->
<a href="index.html">Ir a la página principal</a>

</body>
</html>
